<div class="min-h-dvh bg-gray-100 flex items-center justify-center">
    <form class="max-w-lg w-full p-8 bg-white rounded-lg shadow-lg border border-gray-300">
        <div class="mb-6">
            <label for="retrievalInterval" class="block mb-2 text-sm font-medium text-gray-900">Retrieval Interval</label>
            <input 
                type="number" 
                name="retrievalInterval"
                id="retrievalInterval" 
                inputmode="numeric" 
                pattern="[0-9]*" 
                [(ngModel)]="customer.retrievalInterval"
                class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3" 
                placeholder="Enter a number"
                required />
        </div>

       
        <button type="submit" (click)="onSubmit()" class="w-full text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-6 py-3 text-center">
            Add Customer
        </button>
    </form>
</div>
