<div class="min-h-screen bg-gradient-to-r flex flex-col items-center justify-center space-y-8 p-8">
  <div class="w-full max-w-4xl bg-white rounded-xl shadow-2xl p-16">
    <h1 class="text-3xl font-sans text-black leading-tight text-center">
      Welcome to the Ticket Booking System
    </h1>

    <div class="grid grid-cols-1 sm:grid-cols-2 mt-10 md:grid-cols-3 lg:grid-cols-3 gap-6 w-full max-w-4xl">
      <a
        routerLink="/add-vendor"
        class="flex items-center justify-center w-full h-32 bg-gray-400 text-gray-800 text-xl font-semibold rounded-xl shadow-lg hover:bg-gray-500 hover:shadow-xl transition ease-in-out duration-300 transform hover:scale-105"
      >
        Add Vendor
      </a>
      <a
        routerLink="/add-customer"
        class="flex items-center justify-center w-full h-32 bg-gray-400 text-gray-800 text-xl font-semibold rounded-xl shadow-lg hover:bg-gray-500 hover:shadow-xl transition ease-in-out duration-300 transform hover:scale-105"
      >
        Add Customer
      </a>

      <a
        routerLink="/configuration"
        class="flex items-center justify-center w-full h-32 bg-gray-400 text-gray-800 text-xl font-semibold rounded-xl shadow-lg hover:bg-gray-500 hover:shadow-xl transition ease-in-out duration-300 transform hover:scale-105"
      >
        Configuration
      </a>

      <a
        routerLink="/control-panel"
        class="flex items-center justify-center w-full h-32 bg-gray-400 text-gray-800 text-xl font-semibold rounded-xl shadow-lg hover:bg-gray-500 hover:shadow-xl transition ease-in-out duration-300 transform hover:scale-105"
      >
        Control Panel
      </a>

      <a
        routerLink="/logs"
        class="flex items-center justify-center w-full h-32 bg-gray-400 text-gray-800 text-xl font-semibold rounded-xl shadow-lg hover:bg-gray-500 hover:shadow-xl transition ease-in-out duration-300 transform hover:scale-105"
      >
        Log Display
      </a>

      <a
        routerLink="/tickets"
        class="flex items-center justify-center w-full h-32 bg-gray-400 text-gray-800 text-xl font-semibold rounded-xl shadow-lg hover:bg-gray-500 hover:shadow-xl transition ease-in-out duration-300 transform hover:scale-105"
      >
        Ticket Display
      </a>
    </div>
  </div>
</div>
