<div class="min-h-screen bg-gray-100 flex flex-col items-center justify-center space-y-8">
    <!-- Welcome Page Content -->
    <h1 class="text-4xl font-bold text-gray-950">
      Welcome Ticket Booking System
    </h1>
  
    <!-- Link Boxes -->
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
      <a
        routerLink="/add-vendor"
        class="flex items-center justify-center w-80 h-32 bg-gray-800 text-white rounded-xl shadow-md hover:bg-gray-950 hover:shadow-lg transition"
      >
        Add Vendor
      </a>
      <a
        routerLink="/add-customer"
        class="flex items-center justify-center w-80 h-32 bg-gray-800 text-white rounded-xl shadow-md hover:bg-gray-950 hover:shadow-lg transition"
      >
        Add Customer
      </a>

      <a
        routerLink="/configuration"
        class="flex items-center justify-center w-80 h-32 bg-gray-800 text-white rounded-xl shadow-md hover:bg-gray-950 hover:shadow-lg transition"
      >
        Configuration
      </a>
      <a
        routerLink="/control-panel"
        class="flex items-center justify-center w-80 h-32 bg-gray-800 text-white rounded-xl shadow-md hover:bg-gray-950 hover:shadow-lg transition"
      >
        Control Panel
      </a>
      <a
        routerLink="/logs"
        class="flex items-center justify-center w-80 h-32 bg-gray-800 text-white rounded-xl shadow-md hover:bg-gray-950 hover:shadow-lg transition"
      >
        Log Display
      </a>
      <a
        routerLink="/tickets"
        class="flex items-center justify-center w-80 h-32 bg-gray-800 text-white rounded-xl shadow-md hover:bg-gray-950 hover:shadow-lg transition"
      >
        Ticket Display
      </a>
      
    </div>
  </div>
  
